<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    	<link href="/static/login.css" rel="stylesheet">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
        $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/static/userinterface.js"></script>

    <title>MedAssist</title>

</head>
<body>
<nav>
    <div class="nav-wrapper" style="background: #30336b;">
        <a href="#!" class="brand-logo"><span style="color: #fff;font-size: larger;font-weight: bolder;margin-left:5px">Med-Assist</span></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down mainmenu" >


      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>

<div>
    <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="/static/1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="/static/2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="/static/3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="/static/4.jpg"></a>


  </div>

</div>



<div id="productlist" style="padding: 5px; display: flex; flex-direction: row; flex-wrap: wrap;" >

</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
        $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>

</html>