<!DOCTYPE html>
<link href="/static/subcategory.css" rel="stylesheet">
<html lang="en">
<head>
        <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta charset="UTF-8">
    <title>Subcategory Interface</title>
</head>
<body>
<form action="/submitsubcategory" enctype="multipart/form-data" method="post">{% csrf_token %}
    <div class="main">
        <div class="box">
            <div class="boxheading">
                <span class="head">Subcategory Interface</span>
            </div>
            <div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input required id ="categoryid" name="categoryid" type="text" class="validate">
                        <label for="categoryid">Category Id</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input required id ="subcategoryname" name="subcategoryname" type="text" class="validate">
                        <label for="subcategoryname">Category Name</label>
                    </div>
                </div>
                <div class="row">
                        <div class="input-field col s12">
                            <div class="file-field input-field">
                                <div class=" black btn">
                                    <span>File</span>
                                    <input required type="file" name="subcategoryicon">
                                </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col s6 btnrow">
                        <button class="black btn waves-effect waves-light btnstyle" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6 btnrow">
                        <button class=" black btn waves-effect waves-light btnstyle" type="reset" name="action">Reset
                            <i class="material-icons right">delete</i>
                        </button>
                    </div><br>
                    <div class="row">
                        <div class="col s12 btnrow">
                        <div class="messagestyle">{{message}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</html>